body {
    margin: 0px;
    background-color: darkred;
}

.search_buttons{
    margin: 5px;
    width: auto;
    height: 47px;
    font-weight: bold;
    font-size: 24px;
    background-color: darkred;
    color: darkorange;
    border: 3px solid darkorange;
}

.googleSearchBlock{
    padding: 15px;
    border: 3px solid darkorange;
    margin: 10px;
    color: darkorange;
    width: auto;
}

.googleSearchBlockImg{
    padding: 15px;
    border: 3px solid darkorange;
    margin: 20px;
    color: darkorange;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultBlock{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.mainBlock{
    margin-left: 10px;
}

.InputBlock{
    margin-left: 10px;
}

.mainInput{
    width: auto;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
    color: darkorange;
    background-color: darkred;
    border: 3px solid darkorange;
    padding: 5px;
}